<div class="wrapper wrapper-content">
  <div class="ibox-content m-b-sm border-bottom">
    <div class="row form-group form-horizontal">
      <label class="col-md-1 control-label" ng-show="root.getManager().districtType === 'country'">选择大区</label>
      <div class="col-md-3" ng-show="root.getManager().districtType === 'country'">
        <div ui-select multiple ng-model="vm.selectedZones" ng-change="vm.selectZones(vm)">
          <div ui-select-match placeholder="大区不限">{{$item.name}}</div>
          <div ui-select-choices repeat="zone in vm.zones | filter: $select.search">
            <span ng-bind-html="zone.name | highlight: $select.search"></span>
          </div>
        </div>
      </div>
      <label class="col-md-1 control-label">选择城市</label>
      <div class="col-md-3">
        <div ui-select multiple ng-model="vm.selectedCitys" ng-change="vm.selectCitys(vm)">
          <div ui-select-match placeholder="城市不限">{{$item.name}}</div>
          <div ui-select-choices repeat="city in vm.citys | filter: $select.search">
            <span ng-bind-html="city.name | highlight: $select.search"></span>
          </div>
        </div>
      </div>
      <label class="col-md-1 control-label">风险指标</label>
      <div class="col-md-3">
        <div ui-select ng-model="vm.selectedNumType" ng-change="vm.selectNumType()">
          <div ui-select-match placeholder="风险指标">{{$select.selected.name}}</div>
          <div ui-select-choices repeat="type in vm.numTypes | filter: $select.search">
            <span ng-bind-html="type.name | highlight: $select.search"></span>
          </div>
        </div>
      </div>
    </div>
    <div class="row form-group form-horizontal">
      <label class="col-md-1 control-label">开始时间</label>
      <div class="col-md-3">
        <span class="input-group">
          <input type="text" class="form-control" datepicker-popup="yyyy-MM-dd" ng-model="vm.datepicker.start.model" ng-change="vm.selectStart()"
          max-date="vm.yesterday" is-open="vm.datepicker.start.open" close-text="关闭" current-text="今天" clear-text="清空">
          <span class="input-group-btn">
            <button type="button" class="btn btn-white" ng-click="vm.openDatepicker('start')">
              <i class="glyphicon glyphicon-calendar"></i>
            </button>
          </span>
        </span>
      </div>
      <label class="col-md-1 control-label">截止时间</label>
      <div class="col-md-3">
        <span class="input-group">
          <input type="text" class="form-control" datepicker-popup="yyyy-MM-dd" ng-model="vm.datepicker.end.model" ng-change="vm.selectEnd()"
          min-date="vm.datepicker.start.model" max-date="vm.yesterday" is-open="vm.datepicker.end.open" close-text="关闭" current-text="今天"
          clear-text="清空">
          <span class="input-group-btn">
            <button type="button" class="btn btn-white" ng-click="vm.openDatepicker('end')">
              <i class="glyphicon glyphicon-calendar"></i>
            </button>
          </span>
        </span>
      </div>
      <div class="col-md-4">
        <button class="btn btn-primary pull-right" ng-click="vm.onSearch()">查询</button>
      </div>
    </div>
  </div>
  <div class="ibox">
    <div class="ibox-title">
      <div class="btn-group">
        <button class="btn" ng-class="{'btn-primary' : vm.lineGroup.first.index === 'orderRate', 'btn-white': vm.lineGroup.first.index !== 'orderRate'}"
        ng-click="vm.selectLineGroup('first', 'orderRate')" type="button">城市风险订单占比({{vm.selectedNumType.name}})</button>
        <button class="btn" ng-class="{'btn-primary' : vm.lineGroup.first.index === 'phoneRate', 'btn-white': vm.lineGroup.first.index !== 'phoneRate'}"
        ng-click="vm.selectLineGroup('first', 'phoneRate')" type="button">独立手机号疑似刷单占比({{vm.selectedNumType.name}})</button>
      </div>
      <!--<h3>疑似刷单占比趋势图</h3>-->
    </div>
    <div class="ibox-content">
      <div zhaimi-echarts option="vm.lineGroup.first.option" style="height:300px;"></div>
    </div>
  </div>
  <div class="ibox">
    <div class="ibox-title">
      <div class="row">
        <div class="col-md-6">
          <h3>城市订单风险数据({{vm.selectedNumType.name}})</h3>
        </div>
        <div class="col-md-6">
          <button class="btn btn-success pull-right" ng-csv="vm.exportOrderCsv" add-bom="true" csv-header="vm.orderCsvHeader" lazy-load="true"
          ng-disabled="vm.cityOrderData.length === 0" filename="城市订单风险数据({{vm.selectedNumType.name}}){{vm.query.start}}至{{vm.query.end}}.csv" field-separator=",">导出</button>
        </div>
      </div>
    </div>
    <div class="ibox-content">
      <div class="table-responsive">
        <table ng-table="vm.order.tableParams" class="table table-striped table-hover table-bordered">
          <tr ng-repeat="row in $data">
            <td data-title="'日期'" data-sortable="'dt'">{{row.dt | date:'yyyy-MM-dd'}}</td>
            <td data-title="'大区'">{{row.zoneName}}</td>
            <td data-title="'城市'">{{row.cityName}}</td>
            <td data-title="'订单数'" data-sortable="'orderQuantity'">{{row.orderQuantity}}</td>
            <td data-title="'风险订单数'" data-sortable="'riskOrderQuantity'">{{row.riskOrderQuantity}}</td>
            <td data-title="'风险订单占比'" data-sortable="'riskOrderPercentage'">{{row.riskOrderPercentage | rate}}</td>
            <td data-title="'独立手机号'" data-sortable="'phoneCount'">{{row.phoneCount}}</td>
            <td data-title="'平均每手机号订单数'" data-sortable="'avgPhoneOrder'">{{row.avgPhoneOrder | number:2}}</td>
          </tr>
          <tr ng-show="$data.length === 0">
            <td colspan="8" class="">没有风险数据</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
  <div class="ibox">
    <div class="ibox-title">
      <div class="row">
        <div class="col-md-6">
          <h3>独立手机号疑似刷单数据({{vm.selectedNumType.name}})</h3>
        </div>
        <div class="col-md-3"></div>
        <div class="col-md-2">
          <button class="btn btn-success pull-right" ng-click="vm.exportPhoneNumber()">导出手机号</button>
        </div>
        <div class="col-md-1">
          <button class="btn btn-success pull-right" ng-csv="vm.exportPhoneCsv" add-bom="true" csv-header="vm.phoneCsvHeader" lazy-load="true"
          ng-disabled="vm.exportOrderData.length === 0" filename="独立手机号疑似刷单数据({{vm.selectedNumType.name}}){{vm.query.start}}至{{vm.query.end}}.csv" field-separator=",">导出</button>
        </div>
      </div>
    </div>
    <div class="ibox-content">
      <div class="table-responsive">
        <table ng-table="vm.phone.tableParams" class="table table-striped table-hover table-bordered">
          <tr ng-repeat="row in $data">
            <td data-title="'日期'" data-sortable="'dt'">{{row.dt | date:'yyyy-MM-dd'}}</td>
            <td data-title="'大区'">{{row.zoneName}}</td>
            <td data-title="'城市'">{{row.cityName}}</td>
            <td data-title="'区域'">{{row.regionName}}</td>
            <td data-title="'学校'">{{row.sectionName}}</td>
            <td data-title="'独立手机号数'" data-sortable="'uniqCustomerNumber'">{{row.uniqCustomerNumber}}</td>
            <td data-title="'风险手机号数'" data-sortable="'riskPhoneNumber'">{{row.riskPhoneNumber}}</td>
            <td data-title="'占比'" data-sortable="'riskPhoneNumberPercentage'">{{row.riskPhoneNumberPercentage | rate}}</td>
          </tr>
          <tr ng-show="$data.length === 0">
            <td colspan="8" class="">没有疑似刷单数据</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>
</div>
</div>